{% load static %}
<html>
<head>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div style="background: rgba(14, 85, 41, 0.959);">
        <h1>Blog</h1>
    </div>
    <!-- Filtro por usuario usando enlaces -->
    <div class="filtro-usuarios">
    <strong>Filtrar por autor:</strong>
   0
    <!-- Opción "Todos", href=? ningun usuario cargado, sino hay activo un usuario se activa el "Todos" -->
    <a href="?" class="usuario-filtro {% if not usuario_activo %}activo{% endif %}">
        Todos
    </a>
   ¿
    <!-- Opciones por usuario, recorro los usuarios en usuarios, busco el id del usuario y activo el color -->
    {% for usuario in usuarios %}
        <a href="?usuario={{ usuario.id }}" #hipervinculo que le pide el usuario
           class="usuario-filtro {% if usuario_activo == usuario.id %}activo{% endif %}">
            {{ usuario.username }}
        </a>
    {% endfor %}
   </div>

   <!-- Lista de publicaciones, en for {%, para mostrar una variable {{ -->

   <div>
    {% for publicacion in publicaciones %}
    <p>Publicado: {{ publicacion.fecha_publicacion }} por autor/a: {{ publicacion.autor.username }} </p>
    <h2> <a href=""> {{publicacion.titulo}} </a> </h2>
    <p> {{ publicacion.texto|linebreaksbr }} </p>
    <hr>    
    {% endfor %}
   </div>
</body>
</html>