{% load static %}
<html>
  <head>
    <title>Obras de Arte</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Obras de Arte</h1>
      {% for obra in obras %}
        <div class="post">
          <h2>{{ obra.titulo }}</h2>
          <p><strong>Autor:</strong> {{ obra.autor }}</p>
          <p><strong>Técnica:</strong> {{ obra.tecnica }}</p>
          <p><strong>Descripción:</strong> {{ obra.descripcion }}</p>
          <p><small>Fecha de creación: {{ obra.fecha_creacion }}</small></p>
          <hr>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
